{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <h1 class="text-center">Verify Schedule</h1>

  <form method="POST" style="width:100%">
    {%csrf_token%}
    {%for voter in rVoters%}
      <div class="card shadow mb-4" >
        <div class="card-header py-3">Basic Information</div>
        <div class="card-body">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="text-gray-600 mb-0 text-right">First Name:</td>
                <td class="text-gray-900 mb-0 text-left fw-bold">
                  {{voter.vFname}}
                </td>
                <td class="text-gray-600 mb-0 text-right">Current Address:</td>
                <td class="text-gray-900 mb-0 text-left fw-bold">{{voter.Add}}</td>
              </tr>
              <tr>
                <td class="text-gray-600 mb-0 text-right">Middle Name:</td>
                <td class="text-gray-900 mb-0 text-left fw-bold">{{voter.mName}}</td>
                <td class="text-gray-600 mb-0 text-right">Email:</td>
                <td class="text-gray-900 mb-0 text-left fw-bold">{{user.email}}</td>
              </tr>
              <tr>
                <td class="text-gray-600 mb-0 text-right">Last Name:</td>
                <td class="text-gray-900 mb-0 text-left fw-bold">
                  {{voter.vFname}}
                </td>
                <td class="text-gray-600 mb-0 text-right">Contact Number:</td>
                <td class="text-gray-900 mb-0 text-left fw-bold">
                  {{info.contact}}
                </td>
                <td><button type="submit" class="btn btn-lg btn-success"name="verify" data-dict={fn:{{voter.vFname}},ln:{{voter.vLname}}}>Verify schedule</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {%endfor%}
    {%for voter in vVoters%}
    <div class="card shadow mb-4">
      <div class="card-header py-3">Basic Information</div>
      <div class="card-body">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="text-gray-600 mb-0 text-right">First Name:</td>
              <td class="text-gray-900 mb-0 text-left fw-bold">
                {{voter.user.first_name}}
              </td>
              <td class="text-gray-600 mb-0 text-right">Current Address:</td>
              <td class="text-gray-900 mb-0 text-left fw-bold">{{voter.Add}}</td>
            </tr>
            <tr>
              <td class="text-gray-600 mb-0 text-right">Middle Name:</td>
              <td class="text-gray-900 mb-0 text-left fw-bold">{{voter.mName}}</td>
              <td class="text-gray-600 mb-0 text-right">Email:</td>
              <td class="text-gray-900 mb-0 text-left fw-bold">{{voter.user.email}}</td>
            </tr>
            <tr>
              <td class="text-gray-600 mb-0 text-right">Last Name:</td>
              <td class="text-gray-900 mb-0 text-left fw-bold">
                {{voter.user.last_name}}
              </td>
              <td class="text-gray-600 mb-0 text-right">Contact Number:</td>
              <td class="text-gray-900 mb-0 text-left fw-bold">
                {{voter.contact}}
              </td>
              <td><button type="submit" class="btn btn-lg btn-success" name="verify"  value={{voter.user}}>Verify schedule</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {%endfor%}
</form>

{% endblock %}
