{%extends 'base.html' %}
{%load static %}
{%block content %}
<div class="container-fluid bg-light">
    <div class="text-left">
      <p class="lead text-gray-800 mb-3">
        Your registration information is unavailable.
      </p>

    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        Verify your registration
      </div>
      <div class="card-body">
        <p class="text-gray-900 mb-0 text-left fw-bold">
            You may check your current registration status in the COMELEC Precinct Finder <a href="http://voteverifier.comelec.gov.ph">here</a> or contact
            COMELEC at (02) 8525-9334 or (02) 8523-7084.
        </p>
      </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            For ACTIVE voters...
        </div>
        <div class="card-body">
          <p class="text-gray-900 mb-0 text-left fw-bold">
              We apologize for the error! Please come back and attempt to register again next week or contact the site administrators at (02) XXXX-XXXX.
          </p>
        </div>
      </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            For INACTIVE voters...
        </div>
        <div class="card-body">
            <p class="text-gray-900 mb-0 text-left fw-bold">
            This guide was taken from <a href="https://www.rappler.com/nation/elections/guides-how-to-apply-online-reactivation-voter-data-2022/">Rappler</a>.
            </p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            1. Head to the <a href="https://comelec.gov.ph/">COMELEC website</a> and get the application form, which you may fill out online and print, or <a href="https://comelec.gov.ph/php-tpls-attachments/VoterRegistration/ApplicationsForms/CEF1_Revised_fillable.pdf">print first</a> before manually filling out.
          </p><p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            2. The application form has two pages. On the first page, check the circle corresponding to your desired type of reactivation. On the second page, accurately fill out the form with your information.</p><p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            3. If you are a member of the vulnerable sector, you may also update your records by downloading and accomplishing the <a href="https://comelec.gov.ph/php-tpls-attachments/VoterRegistration/ApplicationsForms/Annex_B_SupplementaryData_Fillable.pdf">supplementary data form</a>. There, you could specify whether you need assistance on election day, and whether you are willing to vote in accessible polling places.</p><p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            4. Write your active phone number/email addresses at the right top portion of the first page of the application form, just below the printed word “Revised CEF-1.”</p><p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            5. Scan the pages of the application form, supplementary data form (if you have), and any valid <a href="https://www.rappler.com/hustle/adulting/ways-register-to-vote-philippines-covid-19-pandemic">identification/supporting document</a> from among the following:</p><p>
            <ul><li>Employee ID with signature of employer or authorized representative</li><li>Postal ID</li><li>PWD discount ID</li><li>Student’s ID or library card, signed by the school authority</li><li>Senior citizen’s ID</li><li>Driver’s license</li><li>NBI clearance</li><li>Passport</li><li>SSS/GSIS ID</li><li>IBP ID, issued by the Professional Regulatory Commission</li><li>Certificate of Confirmation issued by the National Commission on Indigenous Peoples in case of members of ICCs or IPs</li><li>Any other valid ID</li><li>Certification by solemnizing officer</li><li>Marriage contract or court order with certificate of finality</li><li>Order by the Civil Registrar or Consul General</li></ul>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            6. Send the scanned forms which you accomplished to the official email account of the Office of the Election Officer (OEO). Indicate the type of application in the email&#8217;s subject line.</p><p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            7. Once the OEO has confirmed the appointment and the completeness of the applicant&#8217;s biometrics data in the local database, the applicant will receive in their email address and/or phone number the date and time of the online interview.&nbsp;</p><p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            8. The election officer or the authorized interviewer will ask the applicant questions during the interview to determine their application and complete the process.</p><p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            
          </p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            
          </p>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            For FIRST-TIME voters...
        </div>
        <div class="card-body">
          <p class="text-gray-900 mb-0 text-left fw-bold">
            1. Prepare the COMELEC registration Requirements.
            Bring at least one of the following valid IDs and a photocopy:
          </p><p>
          <ul><li>Employee ID with signature of employer or authorized representative</li><li>Postal ID</li><li>PWD discount ID</li><li>Student’s ID or library card, signed by the school authority</li><li>Senior citizen’s ID</li><li>Driver’s license</li><li>NBI clearance</li><li>Passport</li><li>SSS/GSIS ID</li><li>IBP ID, issued by the Professional Regulatory Commission</li><li>Certificate of Confirmation issued by the National Commission on Indigenous Peoples in case of members of ICCs or IPs</li><li>Any other valid ID</li><li>Certification by solemnizing officer</li><li>Marriage contract or court order with certificate of finality</li><li>Order by the Civil Registrar or Consul General</li></ul>
          <p>
          <p class="text-gray-900 mb-0 text-left fw-bold">
            2. Download and accomplish the Voter's Registration Form.
            Either print the voter's registration form (CEF-1) on long bond paper or fill out the form online through IRehistro. The Supplementary Data Form (Annex B) is required for PWDs, senior citizens with disabilities, indigenous applicants who can't read or write, or those who will assist them. A Coronavirus Self-declaration Form is also required.
          </p><p>
        
          <p class="text-gray-900 mb-0 text-left fw-bold">
            3. Book an appointment with your local COMELEC office.
            Upon arrival, you must present your requirements and have your biometrics captured. Before leaving, make sure to keep your acknowledgement receipt.
          </p><p>
            <p class="text-gray-900 mb-0 text-left fw-bold">
                After a week, come back to Voter's Portal and register to check your voting details.
              </p><p>
        </div>
      </div>
    </div>
{% endblock %}